mat-toolbar#appHeader {
  background-color: #000; 
  color: #ffd700; 
}

.headerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.headerListItem {
    margin-right: 20px;
  }
  
  .headerLink {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .headerLink:hover, .headerLink.active {
    color: #ccac00; 
    text-decoration: none; 
  }