<mat-card class="about-card">
    <mat-card-header>
        <div mat-card-avatar class="about-photo" [style.background-image]="'url(' + profilePhotoUrl + ')'"></div>
        <mat-card-title>{{ aboutData.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p class="about-text">{{ aboutData.description.intro }}</p>
        <ul id="purposeList">
            <li *ngFor="let purpose of aboutData.description.purposes" class="purpose">
                {{ purpose }}
            </li>
        </ul>
        <p class="about-text">{{ aboutData.description.outro }}</p>
    </mat-card-content>
    <mat-card-footer>
        <div class="about-links">
            <a *ngFor="let link of aboutData.links"
                class="about-link"
                target="_blank"
                mat-stroked-button
                color="accent"
                [href]="link.href">
                {{ link.name }}
            </a>
        </div>
